@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}


.mySwiper {
  position: relative;
}

.mySwiper .swiper-pagination-progressbar {
  position: absolute;
  bottom: 0px; /* Adjust this value to your desired bottom position */
  width: 100%;
} 


