@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: none;
    /* padding-right: 10px; */
}

.mySwiper {
  position: relative;
  background: none;
}


.mySwiper .swiper-scrollbar-horizontal {
  position: relative;
  margin-bottom: 10rem;
  background: none;
  height: 1px;
  font-size-adjust: 0.58;
  /* background-color: rgba(109, 104, 104, 0.5); */
  top: 0;
}
.mySwiper .swiper-scrollbar-drag {
  position: relative;
  font-size-adjust: 0.58;
  background: none;
  z-index: 10;
  /* background-color: rgba(138, 151, 151, 0.5) */
}

.swiper-scrollbar-drag:after {
  content: "";
  width: 10rem;
  height: 1px;
  background: white;
  position: absolute;
  top: 0;
  z-index: 10;
}

.swiper-scrollbar-horizontal:after {
  content: "";
  width: 180vh;
  height: 1px;
  background: rgb(172, 171, 171);
  position: absolute;
  top: 0;
}

.mySwiper .swiper-pagination-progressbar {
  position: relative;
  /* background-color: rgba(255, 0, 0, 0.5); */
  margin-top: 25px;
  bottom: 0px;
}


.bghero {
   /* For providing border to the element */
   border: 1px solid;
   /* For Padding */
   padding: 10px;
   /* Defining box-shadow property as inset */
   box-shadow: 20px -30px 40px 30px rgb(0, 0, 0, 32) inset;
   /* box-shadow: 0px -50px 36px -28 rgba(0, 0, 0, 35) inset; */
}


.navbar{
  /* border: 1px solid; */
  /* For Padding */
  /* padding: 10px; */
  /* box-shadow:  5px 30px 50px rgb(0, 0, 0, 32) inset; */
  box-shadow: 5px 30px 30px rgb(0, 0, 0, 32) inset;
}