@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: none;
    /* padding-right: 10px; */
}

.mySwiper {
  position: relative;
  /* margin-right: 30px; */
  background: none;
}


.swiper-scrollbar-horizontal {
  position: absolute;
  margin-bottom: 8rem;
  /* padding-bottom: 20rem; */
  background: none;
  height: 1px;
  font-size-adjust: 0.58;
  /* background-color: rgba(109, 104, 104, 0.5); */
  top: 20;
}
@media (max-width: 640px) {
 .mySwiper .swiper-scrollbar-horizontal {
    display: none;
  }
}

.mySwiper .swiper-scrollbar-drag {
  position: relative;
  font-size-adjust: 0.58;
  background: none;
  z-index: 10;
  /* background-color: rgba(138, 151, 151, 0.5) */
}

.swiper-scrollbar-drag:after {
  content: "";
  width: 8.5rem;
  height: 1px;
  background: white;
  position: absolute;
  top: 0;
  z-index: 10;
}

.swiper-scrollbar-horizontal:after {
  content: "";
  width: 180vh;
  height: 1px;
  background: rgb(104, 102, 102);
  position: absolute;
  top: 0;
}

.mySwiper .swiper-pagination-progressbar {
  position: relative;
  /* background-color: rgba(255, 0, 0, 0.5); */
  margin-top: 25px;
  bottom: 0px;
}


.bghero {
   /* For providing border to the element */
   /* border: 1px solid rgb(20, 20, 18); */
   /* For Padding */
   padding: 10px;
   /* Defining box-shadow property as inset */
   box-shadow:  30px -50px 120px 90px rgb(20, 20, 18) inset;
   /* box-shadow: 0px -50px 36px -28 rgba(0, 0, 0, 35) inset; */
}
/* box-shadow: rgb(0, 0, 0) -5px -5px 10px 0px inset; */
.bgtrend {
   /* For providing border to the element */
   border: 1px solid rgb(10, 10, 10);
   /* For Padding */
   padding: 10px;
   /* Defining box-shadow property as inset */
   /* box-shadow: 10px 10px 40px 15px rgb(29, 29, 29) inset; */
   box-shadow: 0px 0px 60px -12px rgb(17, 17, 17) inset;
}

.trend:hover > .bgtrend {
   /* Defining box-shadow property as inset */
   box-shadow: -5px 20px 60px 25px rgba(3, 109, 17, 0.45) inset;
   /* box-shadow: 0px -50px 36px -28 rgba(0, 0, 0, 35) inset; */
}


.navbar{
  /* border: 1px solid; */
  /* For Padding */
  /* padding: 10px; */
  /* box-shadow:  5px 30px 50px rgb(0, 0, 0, 32) inset; */
  box-shadow: 0px 40px 40px -12px rgb(20, 20, 18) inset, 0px 18px 36px -18px rgb(20, 20, 18) inset;
}

.bgcard {
  /* border: 5px solid; */
  /* For Padding */
  /* padding: 10px; */
  /* box-shadow:  5px 30px 50px rgb(0, 0, 0, 32) inset; */
  box-shadow: 0px -150px 40px -10px rgba(3, 109, 17, 0.45) inset;
}
/* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; 
*/